<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | Yangram</title>
    <!-- Загрузка статики -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Slider-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'slider/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'slider/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'slider/css/animate.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'slider/css/bootstrap.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'slider/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'slider/css/nextslider.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>
<body>
    {% include 'includes/nav.html' %}
    <main>
        <div class="container">
            <h1>{% block header %}YAGRAM{% endblock %}</h1>
            {% block content %}
            <!-- Содержимое страницы -->
            {% endblock %}
        </div>
    </main>
    <script src="{% static 'slider/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'slider/js/popper.min.js' %}"></script>
    <script src="{% static 'slider/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'slider/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'slider/js/main.js' %}"></script>
    <script src="{% static 'slider/js/nextslider.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'slider/js/owl.js' %}"></script>
</body>
{% include 'includes/footer.html' %}
</html>