{% extends "base.html" %}
{% block title %}Галлерея{% endblock %}
{% block header %}Галлерея{% endblock %}
{% block content %}
{% load static %}


<div class="container_slider_css">
   {% for slide in slider_list %}
  <img class="photo_slider_css" src="{{ slide.cms_img.url }}" alt="">
   {% endfor %}
</div>

 <div class="content">
    <div class="container">
      <h2 class="my-5 text-center">Carousel #7</h2>
      <div class="owl-carousel owl-1">
          {% for slide in slider_list %}
        <div><img src="{{ slide.cms_img.url }}" alt="Image" class="img-fluid"></div>
          {% endfor %}
      </div>
    </div>
  </div>

